<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/main.js"></script>
    <script src="../static/home.js"></script>
    <title>Stack Overflow lite</title>
  </head>
  <body>
    <nav class="nav_bar">
      <ul>
        <li><a href="#">Home</a> </li>
        <li><a href="{{ url_for('profile') }}">Profile</a> </li>
        <li><a href="{{ url_for('get_started') }}">Log out</a> </li>
        <li>
          <form class="search_form" action="index.html" method="post">
            <input type="text" name="search" placeholder="search...">
          </form>
        </li>
      </ul>
    </nav>

    <div class="feed">
      <div class="recent_questions animated bounce">
        <div class="q_and_a">
          <h1>All Questions</h1>
          <hr>
        <div class="display_que">
        <p id="que"> Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident,
          sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
          <br>
          Posted by <a href="#">user__001 </a><br>
          On 13 Jun 2039</p> <button class="show_more" onclick="show_hidden('one');">Answers 30</button>
          <form id="one" class="my_answer" action="index.html" method="post">
            <hr>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
              <br>
              </p>
              <ul>
                <li> <a href="#"><button><i class="fa fa-minus"></i> Downvote 10</button></a></li>
                <li> <a href="#"><button><i class="fa fa-plus"></i> Upvote 20</button></a></li>
              </ul>
              <p>Answer by: <a href="#"> __user002__</a>    Date: 32 Aug 2040</p>
            <hr>
            <p>
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum. <br>
              <br>
              </p>
              <ul>
                <li> <a href="#"><button><i class="fa fa-minus"></i> Downvote 10</button></a></li>
                <li> <a href="#"><button><i class="fa fa-plus"></i> Upvote 20</button></a></li>
              </ul>
              <p>Answer by: <a href="#"> __user002__</a>    Date: 32 Aug 2040</p>
              <hr>
            <textarea rows="5" class="my_answer" placeholder="My answer" name='my_answer' required data-validation-required-message="Please enter an answer first"></textarea>
            <button type="submit" class="button">Answer</button>
          </form>
          <hr>
        </div>
        </div>
      </div>
      <div class="side_bar animated bounceInRight">
        <h1>Recent Activity</h1>
        <hr>
        <ul>
          <li><a href="#"> Checkout this recent story</a> </li>
          <li><a href="#"> Checkout this recent story</a> </li>
          <li><a href="#"> Checkout this recent story</a> </li>
          <li><a href="#"> Checkout this recent story</a> </li>
          <li><a href="#"> Checkout this recent story</a> </li>
          <li><a href="#"> Checkout this recent story</a> </li>
        </ul>
      </div>
      <form class="ask_question animated bounceInLeft" name="askQuestion">
        <h3>Have a question?</h3>
        <textarea rows="5" class="form-control"  id="question" name='question' required data-validation-required-message="Please enter a question first"></textarea>
        <button type="submit" class="button" onclick="postQuestion();"/>Ask</button>
      </form>
      <div class="logo animated bounceInLeft">
        <img src="../static/img/logo.png" alt="">
      </div>
      </div>
  </body>
  <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="https://www.github.com/MartinKaburu/StackOverflow-lite">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p>Copyright &copy; StackOverflow-lite 2018</p>
      </div>
    </div>
  </div>
</footer>
</html>
